# Colaborative-Based Filtering

In [1]:
import pandas as pd

ratings = pd.read_csv("data/ratings.csv")["userId", "movieId", "rating"]
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

### Create the dataset

In [1]:
from surprise import Dataset, Reader

reader = Reader(rating_scale=(1, 5)
dataset = Dataset.load_from_df(ratings, reader)
dataset

ModuleNotFoundError: No module named 'surprise'

### Build the trainset

In [ ]:
trainset = dataset.build_full_trainset()

In [ ]:
list(trainset.all_settings())

### Train the model

In [ ]:
from surprise import SVD

svd = SVD()

In [ ]:
svd.fit(trainset)

In [ ]:
svd.predict(15, 1956)